In [1]:
import pandas as pd
file_path = r"C:\Users\Sivaraman\Desktop\study\data analytics\practice\files_from_df.xlsx"
df = pd.read_excel(file_path)
print(df)

     CustomerId        Name  CreditScore  Country  Gender  Age  Tenure  \
0      15634602    Hargrave          619   France  Female   42       2
1      15634602    Hargrave          619   France  Female   42       2
2      15634602        Onio          502   France  Female   42       8
3      15634602        Onio          502   France  Female   42       8
4      15737888    Mitchell          850    Spain  Female   43       2
..          ...         ...          ...      ...     ...  ...     ...
448    15694860    Uspensky          675   France  Female   38       6
449    15658169        Cook          778    Spain  Female   47       6
450    15794396     Newbold          494  Germany  Female   38       7
451    15785798  Uchechukwu          850   France    Male   40       9
452    15710825       Ch'en          592    Spain    Male   31       7

       Balance  NumOfProducts     Salary  ... numeric_gender GenderNumeric  \
0         0.00              1  101348.88  ...              0             0
1         0.00              1  101348.88  ...              0             0
2    159660.80              3  112542.58  ...              0             0
3    159660.80              3  112542.58  ...              0             0
4    125510.82              1   79084.10  ...              0             0
..         ...            ...        ...  ...            ...           ...
448   68065.80              1  138777.00  ...              0             0
449  127299.34              2  124694.99  ...              0             0
450  174937.64              1   40084.32  ...              0             0
451       0.00              2  119232.33  ...              1             1
452  110071.10              1   43921.36  ...              1             1

      Age_group  Salary_Level  countrys_Id Countrys_Id Monthly_Salary  \
0    Middle_Age          High            1           1        8445.74
1    Middle_Age          High            1           1        8445.74
2    Middle_Age          High            1           1        9378.55
3    Middle_Age          High            1           1        9378.55
4    Middle_Age           Low            3           3        6590.34
..          ...           ...          ...         ...            ...
448  Middle_Age          High            1           1       11564.75
449  Middle_Age          High            3           3       10391.25
450  Middle_Age           Low            2           2        3340.36
451  Middle_Age          High            1           1        9936.03
452  Middle_Age           Low            3           3        3660.11

               FullName  Credit_Category Loan_Amount
0      Hargrave/ France          Regular   20269.776
1      Hargrave/ France          Regular   20269.776
2          Onio/ France          Regular   22508.516
3          Onio/ France          Regular   22508.516
4       Mitchell/ Spain          Premium   31633.640
..                  ...              ...         ...
448    Uspensky/ France          Premium   27755.400
449         Cook/ Spain              VIP   49877.996
450    Newbold/ Germany          Regular    8016.864
451  Uchechukwu/ France              VIP   47692.932
452        Ch'en/ Spain          Regular    8784.272

[453 rows x 27 columns]

In [2]:
df1 = df.copy

In [3]:
print(df1)

<bound method NDFrame.copy of      CustomerId        Name  CreditScore  Country  Gender  Age  Tenure  \
0      15634602    Hargrave          619   France  Female   42       2
1      15634602    Hargrave          619   France  Female   42       2
2      15634602        Onio          502   France  Female   42       8
3      15634602        Onio          502   France  Female   42       8
4      15737888    Mitchell          850    Spain  Female   43       2
..          ...         ...          ...      ...     ...  ...     ...
448    15694860    Uspensky          675   France  Female   38       6
449    15658169        Cook          778    Spain  Female   47       6
450    15794396     Newbold          494  Germany  Female   38       7
451    15785798  Uchechukwu          850   France    Male   40       9
452    15710825       Ch'en          592    Spain    Male   31       7

       Balance  NumOfProducts     Salary  ... numeric_gender GenderNumeric  \
0         0.00              1  101348.88  ...              0             0
1         0.00              1  101348.88  ...              0             0
2    159660.80              3  112542.58  ...              0             0
3    159660.80              3  112542.58  ...              0             0
4    125510.82              1   79084.10  ...              0             0
..         ...            ...        ...  ...            ...           ...
448   68065.80              1  138777.00  ...              0             0
449  127299.34              2  124694.99  ...              0             0
450  174937.64              1   40084.32  ...              0             0
451       0.00              2  119232.33  ...              1             1
452  110071.10              1   43921.36  ...              1             1

      Age_group  Salary_Level  countrys_Id Countrys_Id Monthly_Salary  \
0    Middle_Age          High            1           1        8445.74
1    Middle_Age          High            1           1        8445.74
2    Middle_Age          High            1           1        9378.55
3    Middle_Age          High            1           1        9378.55
4    Middle_Age           Low            3           3        6590.34
..          ...           ...          ...         ...            ...
448  Middle_Age          High            1           1       11564.75
449  Middle_Age          High            3           3       10391.25
450  Middle_Age           Low            2           2        3340.36
451  Middle_Age          High            1           1        9936.03
452  Middle_Age           Low            3           3        3660.11

               FullName  Credit_Category Loan_Amount
0      Hargrave/ France          Regular   20269.776
1      Hargrave/ France          Regular   20269.776
2          Onio/ France          Regular   22508.516
3          Onio/ France          Regular   22508.516
4       Mitchell/ Spain          Premium   31633.640
..                  ...              ...         ...
448    Uspensky/ France          Premium   27755.400
449         Cook/ Spain              VIP   49877.996
450    Newbold/ Germany          Regular    8016.864
451  Uchechukwu/ France              VIP   47692.932
452        Ch'en/ Spain          Regular    8784.272

[453 rows x 27 columns]>

In [4]:
import inspect
from sklearn.preprocessing import MinMaxScaler

# Get the source code of MinMaxScaler
print(inspect.getsource(MinMaxScaler))
# just i checked what there in inside of class.

class MinMaxScaler(OneToOneFeatureMixin, TransformerMixin, BaseEstimator):
    """Transform features by scaling each feature to a given range.

    This estimator scales and translates each feature individually such
    that it is in the given range on the training set, e.g. between
    zero and one.

    The transformation is given by::

        X_std = (X - X.min(axis=0)) / (X.max(axis=0) - X.min(axis=0))
        X_scaled = X_std * (max - min) + min

    where min, max = feature_range.

    This transformation is often used as an alternative to zero mean,
    unit variance scaling.

    `MinMaxScaler` doesn't reduce the effect of outliers, but it linearly
    scales them down into a fixed range, where the largest occurring data point
    corresponds to the maximum value and the smallest one corresponds to the
    minimum value. For an example visualization, refer to :ref:`Compare
    MinMaxScaler with other scalers <plot_all_scaling_minmax_scaler_section>`.

    Read more in the :ref:`User Guide <preprocessing_scaler>`.

    Parameters
    ----------
    feature_range : tuple (min, max), default=(0, 1)
        Desired range of transformed data.

    copy : bool, default=True
        Set to False to perform inplace row normalization and avoid a
        copy (if the input is already a numpy array).

    clip : bool, default=False
        Set to True to clip transformed values of held-out data to
        provided `feature range`.

        .. versionadded:: 0.24

    Attributes
    ----------
    min_ : ndarray of shape (n_features,)
        Per feature adjustment for minimum. Equivalent to
        ``min - X.min(axis=0) * self.scale_``

    scale_ : ndarray of shape (n_features,)
        Per feature relative scaling of the data. Equivalent to
        ``(max - min) / (X.max(axis=0) - X.min(axis=0))``

        .. versionadded:: 0.17
           *scale_* attribute.

    data_min_ : ndarray of shape (n_features,)
        Per feature minimum seen in the data

        .. versionadded:: 0.17
           *data_min_*

    data_max_ : ndarray of shape (n_features,)
        Per feature maximum seen in the data

        .. versionadded:: 0.17
           *data_max_*

    data_range_ : ndarray of shape (n_features,)
        Per feature range ``(data_max_ - data_min_)`` seen in the data

        .. versionadded:: 0.17
           *data_range_*

    n_features_in_ : int
        Number of features seen during :term:`fit`.

        .. versionadded:: 0.24

    n_samples_seen_ : int
        The number of samples processed by the estimator.
        It will be reset on new calls to fit, but increments across
        ``partial_fit`` calls.

    feature_names_in_ : ndarray of shape (`n_features_in_`,)
        Names of features seen during :term:`fit`. Defined only when `X`
        has feature names that are all strings.

        .. versionadded:: 1.0

    See Also
    --------
    minmax_scale : Equivalent function without the estimator API.

    Notes
    -----
    NaNs are treated as missing values: disregarded in fit, and maintained in
    transform.

    Examples
    --------
    >>> from sklearn.preprocessing import MinMaxScaler
    >>> data = [[-1, 2], [-0.5, 6], [0, 10], [1, 18]]
    >>> scaler = MinMaxScaler()
    >>> print(scaler.fit(data))
    MinMaxScaler()
    >>> print(scaler.data_max_)
    [ 1. 18.]
    >>> print(scaler.transform(data))
    [[0.   0.  ]
     [0.25 0.25]
     [0.5  0.5 ]
     [1.   1.  ]]
    >>> print(scaler.transform([[2, 2]]))
    [[1.5 0. ]]
    """

    _parameter_constraints: dict = {
        "feature_range": [tuple],
        "copy": ["boolean"],
        "clip": ["boolean"],
    }

    def __init__(self, feature_range=(0, 1), *, copy=True, clip=False):
        self.feature_range = feature_range
        self.copy = copy
        self.clip = clip

    def _reset(self):
        """Reset internal data-dependent state of the scaler, if necessary.

        __init__ parameters are not touched.
        """
        # Checking one attribute is enough, because they are all set together
        # in partial_fit
        if hasattr(self, "scale_"):
            del self.scale_
            del self.min_
            del self.n_samples_seen_
            del self.data_min_
            del self.data_max_
            del self.data_range_

    def fit(self, X, y=None):
        """Compute the minimum and maximum to be used for later scaling.

        Parameters
        ----------
        X : array-like of shape (n_samples, n_features)
            The data used to compute the per-feature minimum and maximum
            used for later scaling along the features axis.

        y : None
            Ignored.

        Returns
        -------
        self : object
            Fitted scaler.
        """
        # Reset internal state before fitting
        self._reset()
        return self.partial_fit(X, y)

    @_fit_context(prefer_skip_nested_validation=True)
    def partial_fit(self, X, y=None):
        """Online computation of min and max on X for later scaling.

        All of X is processed as a single batch. This is intended for cases
        when :meth:`fit` is not feasible due to very large number of
        `n_samples` or because X is read from a continuous stream.

        Parameters
        ----------
        X : array-like of shape (n_samples, n_features)
            The data used to compute the mean and standard deviation
            used for later scaling along the features axis.

        y : None
            Ignored.

        Returns
        -------
        self : object
            Fitted scaler.
        """
        feature_range = self.feature_range
        if feature_range[0] >= feature_range[1]:
            raise ValueError(
                "Minimum of desired feature range must be smaller than maximum. Got %s."
                % str(feature_range)
            )

        if sparse.issparse(X):
            raise TypeError(
                "MinMaxScaler does not support sparse input. "
                "Consider using MaxAbsScaler instead."
            )

        xp, _ = get_namespace(X)

        first_pass = not hasattr(self, "n_samples_seen_")
        X = validate_data(
            self,
            X,
            reset=first_pass,
            dtype=_array_api.supported_float_dtypes(xp),
            ensure_all_finite="allow-nan",
        )

        data_min = _array_api._nanmin(X, axis=0, xp=xp)
        data_max = _array_api._nanmax(X, axis=0, xp=xp)

        if first_pass:
            self.n_samples_seen_ = X.shape[0]
        else:
            data_min = xp.minimum(self.data_min_, data_min)
            data_max = xp.maximum(self.data_max_, data_max)
            self.n_samples_seen_ += X.shape[0]

        data_range = data_max - data_min
        self.scale_ = (feature_range[1] - feature_range[0]) / _handle_zeros_in_scale(
            data_range, copy=True
        )
        self.min_ = feature_range[0] - data_min * self.scale_
        self.data_min_ = data_min
        self.data_max_ = data_max
        self.data_range_ = data_range
        return self

    def transform(self, X):
        """Scale features of X according to feature_range.

        Parameters
        ----------
        X : array-like of shape (n_samples, n_features)
            Input data that will be transformed.

        Returns
        -------
        Xt : ndarray of shape (n_samples, n_features)
            Transformed data.
        """
        check_is_fitted(self)

        xp, _ = get_namespace(X)

        X = validate_data(
            self,
            X,
            copy=self.copy,
            dtype=_array_api.supported_float_dtypes(xp),
            force_writeable=True,
            ensure_all_finite="allow-nan",
            reset=False,
        )

        X *= self.scale_
        X += self.min_
        if self.clip:
            device_ = device(X)
            X = _modify_in_place_if_numpy(
                xp,
                xp.clip,
                X,
                xp.asarray(self.feature_range[0], dtype=X.dtype, device=device_),
                xp.asarray(self.feature_range[1], dtype=X.dtype, device=device_),
                out=X,
            )
        return X

    def inverse_transform(self, X):
        """Undo the scaling of X according to feature_range.

        Parameters
        ----------
        X : array-like of shape (n_samples, n_features)
            Input data that will be transformed. It cannot be sparse.

        Returns
        -------
        Xt : ndarray of shape (n_samples, n_features)
            Transformed data.
        """
        check_is_fitted(self)

        xp, _ = get_namespace(X)

        X = check_array(
            X,
            copy=self.copy,
            dtype=_array_api.supported_float_dtypes(xp),
            force_writeable=True,
            ensure_all_finite="allow-nan",
        )

        X -= self.min_
        X /= self.scale_
        return X

    def __sklearn_tags__(self):
        tags = super().__sklearn_tags__()
        tags.input_tags.allow_nan = True
        tags.array_api_support = True
        return tags

In [13]:
#from sklearn.preprocessing import MinMaxScaler
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
scalar = MinMaxScaler()
#df_scaled = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
'''df1 = df1.apply(pd.to_numeric, errors='coerce')  # Convert non-numeric values to NaN
df1 = df1.fillna(0)  # Replace NaN values with 0'''
df1 = df1.apply(pd.to_numeric, errors = 'coerce').fillna(0)

df_scaled = pd.DataFrame(scalar.fit_transform(df1), columns = df.columns)
print(df_scaled)

AttributeError: 'function' object has no attribute 'apply'

In [15]:
print(df
     )

     CustomerId        Name  CreditScore  Country  Gender  Age  Tenure  \
0      15634602    Hargrave          619   France  Female   42       2
1      15634602    Hargrave          619   France  Female   42       2
2      15634602        Onio          502   France  Female   42       8
3      15634602        Onio          502   France  Female   42       8
4      15737888    Mitchell          850    Spain  Female   43       2
..          ...         ...          ...      ...     ...  ...     ...
448    15694860    Uspensky          675   France  Female   38       6
449    15658169        Cook          778    Spain  Female   47       6
450    15794396     Newbold          494  Germany  Female   38       7
451    15785798  Uchechukwu          850   France    Male   40       9
452    15710825       Ch'en          592    Spain    Male   31       7

       Balance  NumOfProducts     Salary  ... numeric_gender GenderNumeric  \
0         0.00              1  101348.88  ...              0             0
1         0.00              1  101348.88  ...              0             0
2    159660.80              3  112542.58  ...              0             0
3    159660.80              3  112542.58  ...              0             0
4    125510.82              1   79084.10  ...              0             0
..         ...            ...        ...  ...            ...           ...
448   68065.80              1  138777.00  ...              0             0
449  127299.34              2  124694.99  ...              0             0
450  174937.64              1   40084.32  ...              0             0
451       0.00              2  119232.33  ...              1             1
452  110071.10              1   43921.36  ...              1             1

      Age_group  Salary_Level  countrys_Id Countrys_Id Monthly_Salary  \
0    Middle_Age          High            1           1        8445.74
1    Middle_Age          High            1           1        8445.74
2    Middle_Age          High            1           1        9378.55
3    Middle_Age          High            1           1        9378.55
4    Middle_Age           Low            3           3        6590.34
..          ...           ...          ...         ...            ...
448  Middle_Age          High            1           1       11564.75
449  Middle_Age          High            3           3       10391.25
450  Middle_Age           Low            2           2        3340.36
451  Middle_Age          High            1           1        9936.03
452  Middle_Age           Low            3           3        3660.11

               FullName  Credit_Category Loan_Amount
0      Hargrave/ France          Regular   20269.776
1      Hargrave/ France          Regular   20269.776
2          Onio/ France          Regular   22508.516
3          Onio/ France          Regular   22508.516
4       Mitchell/ Spain          Premium   31633.640
..                  ...              ...         ...
448    Uspensky/ France          Premium   27755.400
449         Cook/ Spain              VIP   49877.996
450    Newbold/ Germany          Regular    8016.864
451  Uchechukwu/ France              VIP   47692.932
452        Ch'en/ Spain          Regular    8784.272

[453 rows x 27 columns]

In [18]:
df2 = df[['CreditScore', 'Salary']]
print(df2)

     CreditScore     Salary
0            619  101348.88
1            619  101348.88
2            502  112542.58
3            502  112542.58
4            850   79084.10
..           ...        ...
448          675  138777.00
449          778  124694.99
450          494   40084.32
451          850  119232.33
452          592   43921.36

[453 rows x 2 columns]

In [26]:
print(df2.dtypes)

CreditScore      int64
Salary         float64
dtype: object

ImportError: cannot import name 'MinMaxScalar' from 'sklearn.preprocessing' (C:\Users\Sivaraman\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\preprocessing\__init__.py)

In [34]:
'''import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Assuming you've already loaded your dataset into df
df = pd.read_csv("your_data.csv")  # Replace with your actual data source

# Define the columns you want to scale
columns_to_scale = ["CreditScore", "Age", "Balance", "Salary", "Loan_Amount"]

# Initialize the scaler
scaler = MinMaxScaler()

# Apply scaling only to selected columns
df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])

# Display the first few rows to verify
print(df.head())
'''
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
columns_to_scale = ['CreditScore', 'Age', 'Balance', 'Salary', 'Loan_Amount']
scaler = MinMaxScaler()
df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])
df_scaled = df.copy()

print(df.head)

NotFittedError: This MinMaxScaler instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [33]:
'''import os

# Define the folder path where you want to save the file
folder_path = "C:/Users/YourName/Documents/MyData"  # Change to your desired path

# Ensure the folder exists (creates it if not)
os.makedirs(folder_path, exist_ok=True)

# Define the full file path
file_path = os.path.join(folder_path, "my_data.csv")

# Save DataFrame as a CSV file
df.to_csv(file_path, index=False)  

print(f"File saved at: {file_path}")
'''
import os
folder_path = r"C:\Users\Sivaraman\Desktop\study\data analytics\practice"
file_path = os.path.join(folder_path, "scaled_data.csv")
df.to_csv(file_path, index = False)
print('file saved')

file saved

In [40]:
'''import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Sample DataFrame
df = pd.DataFrame({
    "CreditScore": [619, 619, 502],
    "Age": [42, 42, 42],
    "Balance": [0, 0, 159660.8],
    "Salary": [101348.88, 101348.88, 112542.58],
    "Loan_Amount": [20269.776, 20269.776, 22508.516]
})

# Define columns to scale
columns_to_scale = ["CreditScore", "Age", "Balance", "Salary", "Loan_Amount"]

# Initialize and fit the scaler
scaler = MinMaxScaler()
df_scaled = df.copy()  # Copy original dataframe
df_scaled[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])

# Reverse the scaling (convert back)
df_original = df_scaled.copy()
df_original[columns_to_scale] = scaler.inverse_transform(df_scaled[columns_to_scale])

# Display original values
print(df_original.head())'''
#---------------------------------------------
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
columns_to_scale = ["CreditScore", "Age", "Balance", "Salary", "Loan_Amount"]

scaler = MinMaxScaler()
df_scaled = df.copy()
df_scaled[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])

df_original = df_scaled.copy()
df_original[columns_to_scale] = scaler.inverse_transform(df[columns_to_scale])
print(df_original.head())

   CustomerId      Name  CreditScore Country  Gender       Age  Tenure  \
0    15634602  Hargrave     0.512658  France  Female  0.377049       2
1    15634602  Hargrave     0.512658  France  Female  0.377049       2
2    15634602      Onio     0.265823  France  Female  0.377049       8
3    15634602      Onio     0.265823  France  Female  0.377049       8
4    15737888  Mitchell     1.000000   Spain  Female  0.393443       2

    Balance  NumOfProducts    Salary  ... numeric_gender GenderNumeric  \
0  0.000000              1  0.506524  ...              0             0
1  0.000000              1  0.506524  ...              0             0
2  0.749067              3  0.562674  ...              0             0
3  0.749067              3  0.562674  ...              0             0
4  0.588848              1  0.394840  ...              0             0

    Age_group  Salary_Level  countrys_Id Countrys_Id Monthly_Salary  \
0  Middle_Age          High            1           1        8445.74
1  Middle_Age          High            1           1        8445.74
2  Middle_Age          High            1           1        9378.55
3  Middle_Age          High            1           1        9378.55
4  Middle_Age           Low            3           3        6590.34

           FullName  Credit_Category Loan_Amount
0  Hargrave/ France          Regular    0.256171
1  Hargrave/ France          Regular    0.256171
2      Onio/ France          Regular    0.284568
3      Onio/ France          Regular    0.284568
4   Mitchell/ Spain          Premium    0.400316

[5 rows x 27 columns]

In [38]:
print(df1)

<bound method NDFrame.copy of      CustomerId        Name  CreditScore  Country  Gender       Age  Tenure  \
0      15634602    Hargrave     0.512658   France  Female  0.377049       2
1      15634602    Hargrave     0.512658   France  Female  0.377049       2
2      15634602        Onio     0.265823   France  Female  0.377049       8
3      15634602        Onio     0.265823   France  Female  0.377049       8
4      15737888    Mitchell     1.000000    Spain  Female  0.393443       2
..          ...         ...          ...      ...     ...       ...     ...
448    15694860    Uspensky     0.630802   France  Female  0.311475       6
449    15658169        Cook     0.848101    Spain  Female  0.459016       6
450    15794396     Newbold     0.248945  Germany  Female  0.311475       7
451    15785798  Uchechukwu     1.000000   France    Male  0.344262       9
452    15710825       Ch'en     0.455696    Spain    Male  0.196721       7

      Balance  NumOfProducts    Salary  ... numeric_gender GenderNumeric  \
0    0.000000              1  0.506524  ...              0             0
1    0.000000              1  0.506524  ...              0             0
2    0.749067              3  0.562674  ...              0             0
3    0.749067              3  0.562674  ...              0             0
4    0.588848              1  0.394840  ...              0             0
..        ...            ...       ...  ...            ...           ...
448  0.319339              1  0.694271  ...              0             0
449  0.597240              2  0.623633  ...              0             0
450  0.820740              1  0.199209  ...              0             0
451  0.000000              2  0.596231  ...              1             1
452  0.516411              1  0.218457  ...              1             1

      Age_group  Salary_Level  countrys_Id Countrys_Id Monthly_Salary  \
0    Middle_Age          High            1           1        8445.74
1    Middle_Age          High            1           1        8445.74
2    Middle_Age          High            1           1        9378.55
3    Middle_Age          High            1           1        9378.55
4    Middle_Age           Low            3           3        6590.34
..          ...           ...          ...         ...            ...
448  Middle_Age          High            1           1       11564.75
449  Middle_Age          High            3           3       10391.25
450  Middle_Age           Low            2           2        3340.36
451  Middle_Age          High            1           1        9936.03
452  Middle_Age           Low            3           3        3660.11

               FullName  Credit_Category Loan_Amount
0      Hargrave/ France          Regular    0.256171
1      Hargrave/ France          Regular    0.256171
2          Onio/ France          Regular    0.284568
3          Onio/ France          Regular    0.284568
4       Mitchell/ Spain          Premium    0.400316
..                  ...              ...         ...
448    Uspensky/ France          Premium    0.351123
449         Cook/ Spain              VIP    0.631737
450    Newbold/ Germany          Regular    0.100749
451  Uchechukwu/ France              VIP    0.604021
452        Ch'en/ Spain          Regular    0.110483

[453 rows x 27 columns]>

In [1]:
import pandas as pd
file_path = r"C:\Users\Sivaraman\Desktop\study\data analytics\Data (for practice)\bank_details_withdate.xlsx"
df = pd.read_excel(file_path)
print(df)

     CustomerId        Name  CreditScore  Country  Gender  Age  Tenure  \
0      15634602    Hargrave          619   France  Female   42       2
1      15634602    Hargrave          619   France  Female   42       2
2      15634602        Onio          502   France  Female   42       8
3      15634602        Onio          502   France  Female   42       8
4      15737888    Mitchell          850    Spain  Female   43       2
..          ...         ...          ...      ...     ...  ...     ...
448    15694860    Uspensky          675   France  Female   38       6
449    15658169        Cook          778    Spain  Female   47       6
450    15794396     Newbold          494  Germany  Female   38       7
451    15785798  Uchechukwu          850   France    Male   40       9
452    15710825       Ch'en          592    Spain    Male   31       7

       Balance  NumOfProducts     Salary       Date      Dep
0         0.00              1  101348.88 2023-01-01     Bank
1         0.00              1  101348.88 2023-01-02     Bank
2    159660.80              3  112542.58 2023-01-03     Bank
3    159660.80              3  112542.58 2023-01-04     Bank
4    125510.82              1   79084.10 2023-01-05     Bank
..         ...            ...        ...        ...      ...
448   68065.80              1  138777.00 2025-01-31  Entrepr
449  127299.34              2  124694.99 2025-01-31  Entrepr
450  174937.64              1   40084.32 2025-01-31  Entrepr
451       0.00              2  119232.33 2025-01-31  Entrepr
452  110071.10              1   43921.36 2025-01-31  Entrepr

[453 rows x 12 columns]

<bound method NDFrame.head of      CustomerId        Name  CreditScore  Country  Gender  Age  Tenure  \
0      15634602    Hargrave          619   France  Female   42       2
1      15634602    Hargrave          619   France  Female   42       2
2      15634602        Onio          502   France  Female   42       8
3      15634602        Onio          502   France  Female   42       8
4      15737888    Mitchell          850    Spain  Female   43       2
..          ...         ...          ...      ...     ...  ...     ...
448    15694860    Uspensky          675   France  Female   38       6
449    15658169        Cook          778    Spain  Female   47       6
450    15794396     Newbold          494  Germany  Female   38       7
451    15785798  Uchechukwu          850   France    Male   40       9
452    15710825       Ch'en          592    Spain    Male   31       7

       Balance  NumOfProducts     Salary       Date      Dep  Scaled_salary
0         0.00              1  101348.88 2023-01-01     Bank       0.506524
1         0.00              1  101348.88 2023-01-02     Bank       0.506524
2    159660.80              3  112542.58 2023-01-03     Bank       0.562674
3    159660.80              3  112542.58 2023-01-04     Bank       0.562674
4    125510.82              1   79084.10 2023-01-05     Bank       0.394840
..         ...            ...        ...        ...      ...            ...
448   68065.80              1  138777.00 2025-01-31  Entrepr       0.694271
449  127299.34              2  124694.99 2025-01-31  Entrepr       0.623633
450  174937.64              1   40084.32 2025-01-31  Entrepr       0.199209
451       0.00              2  119232.33 2025-01-31  Entrepr       0.596231
452  110071.10              1   43921.36 2025-01-31  Entrepr       0.218457

[453 rows x 13 columns]>

In [20]:

from sklearn.preprocessing import MinMaxScaler
import pandas as pd
scaler = MinMaxScaler()
df['Balance_Scaled'] = scaler.fit_transform(df[['Balance']]) 
df['CreditScore_scaled'] = scaler.fit_transform(df[['CreditScore']])

print(df.head)

<bound method NDFrame.head of      CustomerId        Name  CreditScore  Country  Gender  Age  Tenure  \
0      15634602    Hargrave          619   France  Female   42       2
1      15634602    Hargrave          619   France  Female   42       2
2      15634602        Onio          502   France  Female   42       8
3      15634602        Onio          502   France  Female   42       8
4      15737888    Mitchell          850    Spain  Female   43       2
..          ...         ...          ...      ...     ...  ...     ...
448    15694860    Uspensky          675   France  Female   38       6
449    15658169        Cook          778    Spain  Female   47       6
450    15794396     Newbold          494  Germany  Female   38       7
451    15785798  Uchechukwu          850   France    Male   40       9
452    15710825       Ch'en          592    Spain    Male   31       7

       Balance  NumOfProducts     Salary       Date      Dep  Scaled_salary  \
0         0.00              1  101348.88 2023-01-01     Bank       0.506524
1         0.00              1  101348.88 2023-01-02     Bank       0.506524
2    159660.80              3  112542.58 2023-01-03     Bank       0.562674
3    159660.80              3  112542.58 2023-01-04     Bank       0.562674
4    125510.82              1   79084.10 2023-01-05     Bank       0.394840
..         ...            ...        ...        ...      ...            ...
448   68065.80              1  138777.00 2025-01-31  Entrepr       0.694271
449  127299.34              2  124694.99 2025-01-31  Entrepr       0.623633
450  174937.64              1   40084.32 2025-01-31  Entrepr       0.199209
451       0.00              2  119232.33 2025-01-31  Entrepr       0.596231
452  110071.10              1   43921.36 2025-01-31  Entrepr       0.218457

     Balance_Scaled  CreditScore_scaled
0          0.000000            0.512658
1          0.000000            0.512658
2          0.749067            0.265823
3          0.749067            0.265823
4          0.588848            1.000000
..              ...                 ...
448        0.319339            0.630802
449        0.597240            0.848101
450        0.820740            0.248945
451        0.000000            1.000000
452        0.516411            0.455696

[453 rows x 15 columns]>

In [21]:
from sklearn.preprocessing import StandardScaler
import pandas as pd

scaler = StandardScaler()
df['Salary_standardize'] = scaler.fit_transform(df[['Salary']])
print(df.head)

'''columns_to_standardize = ["CreditScore", "Age", "Balance", "Salary", "Loan_Amount"]

# Initialize the scaler
scaler = StandardScaler()

# Apply standardization
df_standardized = df.copy()
df_standardized[columns_to_standardize] = scaler.fit_transform(df[columns_to_standardize])

# Display standardized data
print(df_standardized.head())'''

<bound method NDFrame.head of      CustomerId        Name  CreditScore  Country  Gender  Age  Tenure  \
0      15634602    Hargrave          619   France  Female   42       2
1      15634602    Hargrave          619   France  Female   42       2
2      15634602        Onio          502   France  Female   42       8
3      15634602        Onio          502   France  Female   42       8
4      15737888    Mitchell          850    Spain  Female   43       2
..          ...         ...          ...      ...     ...  ...     ...
448    15694860    Uspensky          675   France  Female   38       6
449    15658169        Cook          778    Spain  Female   47       6
450    15794396     Newbold          494  Germany  Female   38       7
451    15785798  Uchechukwu          850   France    Male   40       9
452    15710825       Ch'en          592    Spain    Male   31       7

       Balance  NumOfProducts     Salary       Date      Dep  Scaled_salary  \
0         0.00              1  101348.88 2023-01-01     Bank       0.506524
1         0.00              1  101348.88 2023-01-02     Bank       0.506524
2    159660.80              3  112542.58 2023-01-03     Bank       0.562674
3    159660.80              3  112542.58 2023-01-04     Bank       0.562674
4    125510.82              1   79084.10 2023-01-05     Bank       0.394840
..         ...            ...        ...        ...      ...            ...
448   68065.80              1  138777.00 2025-01-31  Entrepr       0.694271
449  127299.34              2  124694.99 2025-01-31  Entrepr       0.623633
450  174937.64              1   40084.32 2025-01-31  Entrepr       0.199209
451       0.00              2  119232.33 2025-01-31  Entrepr       0.596231
452  110071.10              1   43921.36 2025-01-31  Entrepr       0.218457

     Balance_Scaled  CreditScore_scaled  Salary_standardize
0          0.000000            0.512658           -0.039605
1          0.000000            0.512658           -0.039605
2          0.749067            0.265823            0.155118
3          0.749067            0.265823            0.155118
4          0.588848            1.000000           -0.426917
..              ...                 ...                 ...
448        0.319339            0.630802            0.611485
449        0.597240            0.848101            0.366518
450        0.820740            0.248945           -1.105348
451        0.000000            1.000000            0.271491
452        0.516411            0.455696           -1.038600

[453 rows x 16 columns]>

'columns_to_standardize = ["CreditScore", "Age", "Balance", "Salary", "Loan_Amount"]\n\n# Initialize the scaler\nscaler = StandardScaler()\n\n# Apply standardization\ndf_standardized = df.copy()\ndf_standardized[columns_to_standardize] = scaler.fit_transform(df[columns_to_standardize])\n\n# Display standardized data\nprint(df_standardized.head())'

In [22]:
print(df)

     CustomerId        Name  CreditScore  Country  Gender  Age  Tenure  \
0      15634602    Hargrave          619   France  Female   42       2
1      15634602    Hargrave          619   France  Female   42       2
2      15634602        Onio          502   France  Female   42       8
3      15634602        Onio          502   France  Female   42       8
4      15737888    Mitchell          850    Spain  Female   43       2
..          ...         ...          ...      ...     ...  ...     ...
448    15694860    Uspensky          675   France  Female   38       6
449    15658169        Cook          778    Spain  Female   47       6
450    15794396     Newbold          494  Germany  Female   38       7
451    15785798  Uchechukwu          850   France    Male   40       9
452    15710825       Ch'en          592    Spain    Male   31       7

       Balance  NumOfProducts     Salary       Date      Dep  Scaled_salary  \
0         0.00              1  101348.88 2023-01-01     Bank       0.506524
1         0.00              1  101348.88 2023-01-02     Bank       0.506524
2    159660.80              3  112542.58 2023-01-03     Bank       0.562674
3    159660.80              3  112542.58 2023-01-04     Bank       0.562674
4    125510.82              1   79084.10 2023-01-05     Bank       0.394840
..         ...            ...        ...        ...      ...            ...
448   68065.80              1  138777.00 2025-01-31  Entrepr       0.694271
449  127299.34              2  124694.99 2025-01-31  Entrepr       0.623633
450  174937.64              1   40084.32 2025-01-31  Entrepr       0.199209
451       0.00              2  119232.33 2025-01-31  Entrepr       0.596231
452  110071.10              1   43921.36 2025-01-31  Entrepr       0.218457

     Balance_Scaled  CreditScore_scaled  Salary_standardize
0          0.000000            0.512658           -0.039605
1          0.000000            0.512658           -0.039605
2          0.749067            0.265823            0.155118
3          0.749067            0.265823            0.155118
4          0.588848            1.000000           -0.426917
..              ...                 ...                 ...
448        0.319339            0.630802            0.611485
449        0.597240            0.848101            0.366518
450        0.820740            0.248945           -1.105348
451        0.000000            1.000000            0.271491
452        0.516411            0.455696           -1.038600

[453 rows x 16 columns]

In [27]:
'''pivot_df = df.pivot(index=["CustomerId", "Name"], columns="Date", values="Salary")
print(pivot_df)
'''
'''pivot_df = df.pivot(index = ['CustomerId', 'Name', 'Age'], columns = 'Date', values = 'Salary')
print(pivot_df)'''

pivot_df = df.pivot(index = ['CustomerId'], columns = 'Salary', values = 'Age')
print(pivot.df)

ValueError: Index contains duplicate entries, cannot reshape